---
layout: default
title: Behind the Scenes
permalink: /bts/
---

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 margin-top-80 margin-bottom-45">
                <h2 class="title">Behind the Scenes</h2>
                <p class="body-text">In the course of creating projects, I make a lot of demo videos. It's very likely that these will 
                    never be of use to anyone, but perhaps they might be entertaining nonetheless.
                </p>
            </div>


            <div class="col-sm-12">

                <!-- Portfolio Wrap -->
                <div class="portfolio-wrap">
                    <!-- Portfolio Filter -->
                    <div id="filters-container" class="cbp-l-filters-text text-left">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                            All 
                        </div>
                        {% assign tags_bts = site.categories.bts | map: 'tags' | join: ',' | join: ',' | downcase | split: ',' | uniq | sort %}
                        {% for tag in tags_bts %}
                            <div data-filter=".filter-{{ tag }}" class="cbp-filter-item">
                                {{ tag }}
                            </div>
                        {% endfor %}  
                    </div>
                    <!-- Portfolio Filter -->
                    
                    <!-- Portfolio Items -->
                    <div id="portfolio-container" class="cbp" data-layoutmode="grid" data-gaphorizontal="30" data-gapvertical="30" data-captionanimation="minimal" data-animationtype="quicksand" data-large-desktop="4" data-medium-desktop="4" data-tablet="3">

                        {% for post in site.categories.bts %}
           

                        <div class="cbp-item {% for tag in post.tags %}filter-{{ tag | downcase }} {% endfor %}">
                            <a href="{{ post.link }}" class="cbp-caption" target="_blank">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="{{ post.thumbnail }}" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">{{ post.title | upcase }}</div>
                                            <div class="cbp-l-caption-desc">
                                                {% for tag in post.tags %}                  
                                                {{ tag }} 
                                                {% endfor %}
                                                <br>
                                                {{ post.date | date: '%B %d, %Y' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        {% endfor %}
                        

                    </div>
                    <!-- Portfolio Items -->
                </div>
                <!-- Portfolio Wrap Ends -->
            </div>
        </div>
    </div>
</div>    
<!-- Main Wrapper Ends -->
