---
layout: default
title: Behind the Scenes
permalink: /bts/
---

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
    
                <!-- Portfolio Wrap -->
                <div class="portfolio-wrap">
                    <!-- Portfolio Filter -->
                    <div id="filters-container" class="cbp-l-filters-text text-left">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                            All 
                        </div>
                        {% assign tags_bts = site.categories.bts | map: 'tags' | join: ',' | join: ',' | downcase | split: ',' | uniq | sort %}
     
                        {% for tag in tags_bts %}
                            <div data-filter=".filter-{{ tag }}" class="cbp-filter-item">
                                {{ tag }}
                            </div>
                        {% endfor %}  
                    </div>
                    <!-- Portfolio Filter -->
                    
                    <!-- Portfolio Items -->
                    <div id="portfolio-container" class="cbp" data-layoutmode="grid" data-gaphorizontal="30" data-gapvertical="30" data-captionanimation="minimal" data-animationtype="quicksand" data-large-desktop="4" data-medium-desktop="4" data-tablet="3">

                        {% for post in site.categories.bts %}
           

                        <div class="cbp-item {% for tag in post.tags %}filter-{{ tag | downcase }} {% endfor %}">
                            <a href="{{ post.url }}" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="{{ post.thumbnail }}" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">{{ post.title | upcase }}</div>
                                            <div class="cbp-l-caption-desc">
                                                {% for tag in post.tags %}                  
                                                {{ tag }} 
                                                {% endfor %}
                                                <br>
                                                {{ post.date | date: '%B %d, %Y' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        {% endfor %}
                        

                        <!--
                        <div class="cbp-item">
                            <a href="details-right-video.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-grid/img_2.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Shopping Bag</div>
                                            <div class="cbp-l-caption-desc">Design</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item branding">
                            <a href="details-bottom-image.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-grid/img_3.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Magazine</div>
                                            <div class="cbp-l-caption-desc">Identity</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item web-design">
                            <a href="details-bottom-gallery.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-grid/img_4.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Cardboard</div>
                                            <div class="cbp-l-caption-desc">Design</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item graphic">
                            <a href="details-bottom-slider.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-grid/img_5.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Stationary</div>
                                            <div class="cbp-l-caption-desc">Identity</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item">
                            <a href="details-bottom-video.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-grid/img_6.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Book Cover</div>
                                            <div class="cbp-l-caption-desc">Branding</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item web-design">
                            <a href="details-left-image.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-grid/img_7.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Paper Pouch</div>
                                            <div class="cbp-l-caption-desc">Design</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item branding">
                            <a href="details-left-gallery.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-grid/img_8.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Ceramic Bottles</div>
                                            <div class="cbp-l-caption-desc">Branding</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        -->
                    </div>
                    <!-- Portfolio Items -->
                    
                </div>
                <!-- Portfolio Wrap Ends -->
            </div>
        </div>
    </div>
</div>    
<!-- Main Wrapper Ends -->
