---
title: Behind the Scenes
permalink: /bts/
theme-template: portfolio-3-grid.html
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>

        <!-- Page Wrapper -->
        <div id="page" class="site">
            {% include header.html %}

            <div class="site-content-contain">
                <div id="content" class="site-content">                    
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">   
                            <article class="page">                                
                                <div class="entry-content">     
                                        <div class="container m-t-35"> 
                                        <div class="row"> 
                                            <div class="col-sm-12 col-md-12 col-lg-8">
                                                <div class="heading-block text-left">
                                                    <h1 class="block-size-5">
                                                        Behind the Scenes
                                                    </h1>
                                                    <p>The videos below are an un-curated list of videos that I typically send to clients to update them on the progress of a project.</p>
                                                </div>
                                            </div>
                                        </div>     
                                    </div>         

                                    <div class="container m-t-25 m-b-100">
                                        <div class="row"> 
                                            <div class="col-sm-12">
                                                <div class="portfolio-wrap">

                                                    <div id="portfolio-container-grid" class="cbp cbp-caption-ribbon cbp-ribbon-alignLeft" 
                                                         data-loadmoreaction="click" data-loadnoofitems="1" data-layoutmode="grid" data-captionanimation="fadeIn" data-animationtype="fadeOut" 
                                                         data-gaphorizontal="20" data-gapvertical="0" data-displaytype="default" data-large-desktop="3" data-tablet-landscape="3" data-tablet-portrait="2" data-mobile="1" 
                                                         data-defaultfilter="*" >
                    
                                                    </div><!--End #grid-container-->
                                                </div>                                               
                                            </div>
                                        </div>
                                    </div>    <!--End container-->
                                </div>   
                            </article>
                            
                            
                            <div class="portfolio-navigation-wrap">
                                <ul class="portfolio-navigation">
                                    
                                    <li class="portfolio-prev">
                                        <a id="prev" href="#" rel="prev">                                                        
                                            <span>Previous</span>
                                        </a>
                                    </li>
                                    
                                    <li class="portfolio-next">
                                        <a id="next" href="#" rel="next">                                        
                                            <span>Next</span>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>


                        </main><!-- #main -->
                    </div><!-- #primary -->                

                    <a id="gotoTop" href="#" class="scroll-top-link" data-easing="easeOutQuad" data-speed="700" ><i class="fa fa-angle-up"></i></a>

                </div><!-- #content -->

                {% include footer.html %}
            </div> <!-- .site-content-contain -->         
        </div>    
        <!-- Page Wrapper Ends -->

        {% include scripts.html %}
        <script src="/js/bts.js"></script>
    </body>
</html>
