---
layout: default
---


<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1 class="heading">{{ site.description }}</h1>
                </div>
                <!-- Portfolio Wrap -->
                <div class="portfolio-wrap">
                    <!-- Portfolio Filter -->
                    <div id="filters-container" class="cbp-l-filters-text text-left">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                            All 
                        </div>
                        <div data-filter=".2015" class="cbp-filter-item">
                            2015
                        </div>
                        <div data-filter=".2016" class="cbp-filter-item">
                            2016
                        </div>
                        <div data-filter=".2017" class="cbp-filter-item">
                            2017
                        </div>
                        <div data-filter=".2018" class="cbp-filter-item">
                            2018
                        </div>
                        <div data-filter=".2019" class="cbp-filter-item">
                            2019
                        </div>
                    </div>
                    <!-- Portfolio Filter -->
                    
                    <!-- Portfolio Items -->
                    <div id="portfolio-container" class="cbp" data-layoutmode="grid" data-gaphorizontal="30" data-gapvertical="30" data-captionanimation="zoom" data-animationtype="quicksand" data-large-desktop="3" data-medium-desktop="3" data-tablet="2">
                        

                    {% for post in site.categories.projects %}
                    {%  if post.hidden != true %}
                        <div class="cbp-item {{ post.date | date: "%Y" }}">
                            <a href="{{ root_url }}{{ post.url }}" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="{{post.thumbnail}}" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">{{ post.title | upcase }}</div>
                                            <div class="cbp-l-caption-desc">{{ post.date | date: "%b %Y" }}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    {% endfor %}
                    

          <!--          
                        <div class="cbp-item">
                            <a href="details-left-video.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-masonry/2/img_1.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Handmade Bag</div>
                                            <div class="cbp-l-caption-desc">Design</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item branding">
                            <a href="details-top-image.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-masonry/2/img_9.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Shopping Bag</div>
                                            <div class="cbp-l-caption-desc">Branding</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item web-design">
                            <a href="details-top-gallery.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-masonry/2/img_8.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Cardboard</div>
                                            <div class="cbp-l-caption-desc">Design</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item graphic">
                            <a href="details-right-gallery.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-masonry/2/img_12.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Magazine</div>
                                            <div class="cbp-l-caption-desc">Identity</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item">
                            <a href="details-right-slider.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-masonry/2/img_4.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Ceramic Bottles</div>
                                            <div class="cbp-l-caption-desc">Design</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item web-design">
                            <a href="details-bottom-image.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="images/portfolio/thumbnails-masonry/2/img_13.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Paper Pouch</div>
                                            <div class="cbp-l-caption-desc">Branding</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        -->    
                    </div>
                    <!-- Portfolio Items -->
                    
                </div>
                <!-- Portfolio Wrap Ends -->
            </div>
        </div>
    </div>
</div>    
<!-- Main Wrapper Ends -->