---
permalink: /lists/
title: Lists
friends:
 - <a href="http://aramique.com/">Aramique</a> : Creative Director
 - <a href="http://www.maumorgo.com/">Mau Morgo</a> : Designer
 - <a href="http://www.luisaph.com/">Luisa Pereira</a> : Interaction design and development
 - <a href="https://vimeo.com/laserstorm">Lars Berg</a> : GLSL Wizard
 - <a href="http://moonmilk.com/">Ranjit Bhatnagar</a> : Electronics Whisperer 
 - <a href="http://www.11thstworkshop.com/">11th Street Workshop</a> : Fabrication
 - <a href="#">Volvox Studio</a> : Creative Tech Studio
 - <a href="#">Matt Felsen</a> : Creative Technologist
 - <a href="https://www.screen-club.com/">Martial Geoffre-Rouland</a> : Creative Tech
 - <a href="https://www.instagram.com/ltblstudio/">Benjamin Petit</a> : Creative Tech
 - <a href="https://blindsp0t.com/">Antoine</a> : Creative Tech
 - <a href="http://www.smooth.technology">Smooth Technology</a> : Creative Tech Studio/LED wizards
 - Ben Tricklebank : Director
 - Aaron Koblin : Artist
 - Pink Sparrow : Fabrication
 - SCPS : Fabrication
 - SFDS : Fabrication
 - Bednark : Fabrication
 - <a href="https://vimeo.com/flightphase">Flightphase</a> : Art and Design Studio
pintrest:
 - Liquid Simulation: https://www.pinterest.com/jefftimesten/liquid-sim/
 - Photogrammetry: https://www.pinterest.com/jefftimesten/photogrammetry/
 - Horde: https://www.pinterest.com/jefftimesten/horde/
 - Parametric Statue : https://www.pinterest.com/jefftimesten/parametric-statue/
 - Colored Light Portraits: https://www.pinterest.com/jefftimesten/colored-light-portraits/
 - Light Puddle : https://www.pinterest.com/jefftimesten/light-puddle/
 - Light Canyon : https://www.pinterest.com/jefftimesten/light-canyon
 - Light Bugs : https://www.pinterest.com/jefftimesten/light-bugs/
 - Acid Gradients : https://www.pinterest.com/jefftimesten/acid-gradients/
 - Neon Geometry : https://www.pinterest.com/jefftimesten/neon-geometry/
 - Surreal Environment : https://www.pinterest.com/jefftimesten/surreal-environment/
 - Graffiti Style : https://www.pinterest.com/jefftimesten/graffiti-style/
 - Clean and Fun Dataviz : https://www.pinterest.com/jefftimesten/clean-and-fun-dataviz/
clients:
 - American Airlines and British Airways (via Gensler)
 - Dell (via Gansler)
 - Accenture (via Landor & Fitch)
 - IBM (via Tool)
 - Sorel (via Helo)
 - Lexus (via Team One)
 - Fila (via MKG)
 - Pandora (via Tool)
 - Intel (via Tool)
 - New Orleans Tourism Marketing Corporation (via Tool and 360i)
 - Campari (via Imprint)
 - Samsung (via Tool and Leo Burnett)
 - Infiniti (via Tool and CP+B)
 - Delta (via Tool and MKG)
 - Hermès (via Mash Studio)
 - Samsung (via Protein)
 - Lysol (via Tool and McCann)
 - Acer (via Tool and Sid Lee)
 - University of Dayton (via Flightphase and 160over90)
 - MPC Digital
 - Nike (via <a href="https://wearesubrosa.com/">Sub Rosa</a>)
 - New York IFP Media Center (via MPC Digital)
 - National Building Museum (via Rockwell LAB)
software:
 - openFrameworks
 - Vuforia AR
 - Unity
 - Node.js
 - Processing
 - Electron.js
 - PhoneGap/Cordova
 - Ableton Live
 - openCV
 - Blender
 - Projection Mapping
 - Photogrammetry
 - Myo Armband
 - TouchDesigner
 - Unreal Engine
hardware:
- Arduino
- HTC Vive
- Raspberry Pi
- ILDA Laser Projector
- Android/iOS
- WS2811 LEDs (Neopixels)
- Canon Camera/SDK
- Hololens
- Neurosky Mindwave Mobile
- Heart rate sensors (multiple)
- Microsoft Kinect
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>

        <!-- Page Wrapper -->
        <div id="page" class="site">
            {% include header.html %}
    
            <div class="site-content-contain">
                <div id="content" class="site-content">                    
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">   
                            <article class="page">                                
                                <div class="entry-content">     
                                    <div class="container m-t-35"> 
                                        <div class="row"> 
                                            <div class="col-sm-12 col-md-12 col-lg-8">
                                                <div class="heading-block text-left">
                                                    <h1 class="block-size-5">
                                                        Here are some lists of stuff. It's like See-Through Lab as a listicle.
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>     
                                    </div>         


                                    <div class="container m-t-35"> 
                                        <div class="row"> 
                                            <div class="col-sm-4 col-md-4 col-lg-6">
                                                <h4>Partners</h4>
                                                <p>Here are some of the wonderful collaborators I have had the pleasure of working with.</p>
                                                <ul>
                                                    {% for item in page.friends %}
                                                    {% for hash in item %}
                                                        <li>{{ hash[0] }}: {{ hash[1] }}</li>
                                                    {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                            <div class="col-sm-4 col-md-4 col-lg-6">
                                                <h4>Clients</h4>
                                                <p>Here are some of the clients I've worked for over the years.</p>
                                                <ul>
                                                    {% assign clients = page.clients | sort %}
                                                    {% for item in clients %}
                                                        <li>{{ item }}</li>
                                                    {% endfor %}
                                                 </ul>
                                            </div>

                                            <div class="col-sm-4 col-md-4 col-lg-6">
                                                <h4>Software</h4>
                                                <p>Here is some of the software that I have used in my projects.</p>
                                                <ul>
                                                    {% for item in page.software %}
                                                    <li>{{ item }}</li>
                                                    {% endfor %}
                                                 </ul>
                                            </div>

                                            <div class="col-sm-4 col-md-4 col-lg-6">
                                                <h4>Hardware</h4>
                                                <p>Some of my the hardware I've worked with in my projects.</p>
                                                <ul>
                                                    {% for item in page.hardware %}
                                                    <li>{{ item }}</li>
                                                {% endfor %}
                                                 </ul>
                                            </div>

                                        </div>
                                    </div>

                                </div>   
                            </article>    
                        </main><!-- #main -->
                    </div><!-- #primary -->                

                    <a id="gotoTop" href="#" class="scroll-top-link" data-easing="easeOutQuad" data-speed="700" ><i class="fa fa-angle-up"></i></a>

                </div><!-- #content -->
            {% include footer.html %}
            </div> <!-- .site-content-contain -->         
        </div>    
        <!-- Page Wrapper Ends -->

    {% include scripts.html %}
</body>
</html>
