
                <!-- Footer -->
                <footer id="footer" class="standard">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="copyrights">
                                        <p>&COPY; 2019 Jeff Crouse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="footer-socials">
                
                                        <a href="http://www.github.com/jeffcrouse" target="_blank">Github</a>
                                        <a href="http://www.twitter.com/jeffcrouse" target="_blank">Twitter</a>
                                        <a href="http://www.instagram.com/seethroughlab" target="_blank">Instagram</a>
                                        <a href="http://www.vimeo.com/jeffcrouse" target="_blank">Vimeo</a>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- Footer Ends -->
    
                </div>
                <!-- Content Wrapper Ends -->
    
            </div> 
            <!-- Page Wrapper Ends -->
            
    
        </body>
    </html>
    