<footer id="footer" class="site-footer standard" role="contentinfo">
    <div class="container">
        <div class="site-info">			
            <p class="copyright">
                © 2022 See-Through Lab, LLC	
            </p>
        </div>    
        <nav class="footer-socials" role="navigation" aria-label="Footer Social Links Menu">                           
            <ul id="social-media-footer" class="social-links-menu">
                <li><a href="https://www.facebook.com/seethroughlabllc"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://github.com/jeffcrouse/"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/seethroughlab/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.pinterest.com/jefftimesten/"><i class="fab fa-pinterest-p"></i></a></li>      
            </ul>
        </nav>                        
    </div>            
</footer>