            <header id="masthead" class="site-header standard sticky" role="banner">		
                <div class="container">
                    <div id="site-branding">
                        <a href="/">
                            <div id="logo"></div>
                        </a>
                    </div><!-- .site-branding -->
                    <span id="ham-trigger-wrap">
                        <span class="ham-trigger">
                            <span></span>                            
                        </span>                            
                    </span>
                    <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
                        <ul id="top-menu" class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/bts">Behind the Scenes</a></li>
                            <li><a href="/lists">Lists</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>	
                    </nav>                            
                </div><!-- .wrap -->		
            </header><!-- #masthead -->