<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        
        <!-- Metas -->      
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Jeff Crouse" />
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

        <!-- Links -->      
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="/css/ionicons.css" rel="stylesheet" type="text/css"/>
        <link href="/css/cubeportfolio.css" rel="stylesheet" type="text/css"/>
        <link href="/css/owl.carousel.css" rel="stylesheet" type="text/css"/>
        <link href="/style.css" rel="stylesheet" type="text/css"/>
        <link href="/stl.css" rel="stylesheet" type="text/css"/>
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        
        <!-- Document Title -->      
        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    </head>
    <body>
        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="standard">
                <div class="header-wrapper">
                    <div class="container">
                        <a href="/">
                            <div id="logo"></div>
                        </a>
                        <span id="menu-trigger"><span></span></span>
                        <nav id="main-menu">
                            <ul>
                                <li><a href="/" class="active"><div>HOME</div></a></li>
                                <li><a href="/about"><div>ABOUT</div></a></li>
                                <li><a href="/bts"><div>BEHIND THE SCENES</div></a></li>
                                <li><a href="/lists"><div>LISTS</div></a></li>
                                <li><a href="/contact"><div>CONTACT</div></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- Header Ends -->

            <!-- Content Wrapper -->
            <div id="content-wrapper">