<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    
    <body class="single single-portfolio portfolio-details-right">

        <!-- Page Wrapper -->
        <div id="page" class="site">

            {% include header.html %}

            <div class="site-content-contain">
                <div id="content" class="site-content">                 
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">        
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <article class="portfolio right-sidebar clearfix">
                                            <div class="entry-content">
                                                {% if page.video_player %}
                                                <div class="media-wrap">                                                   
                                                    <div class="portfolio-media embed-responsive embed-responsive-16by9">
                                                        <iframe title="{{page.title}}" src="{{page.video_player}}?title=1&byline=0&amp;portrait=0" width="1260" height="709" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                                    </div>                                                    
                                                </div>
                                                {% endif %}

                                                <br />
                                                <br />

                                                {% if page.images %}
                                                <div class="media-wrap">
                                                    <div class="swiper-container single-image-slider">	
                                                        <div class="swiper-wrapper" >
                                                            {% for img in page.images %}
                                                            <div class="swiper-slide" >
                                                                <img width="1200" height="800" alt="Flyer"  src="{{ page.image_root }}/{{ img }}">                                                                
                                                            </div>
                                                            {% endfor %}
                                                            <!--
                                                            <div class="swiper-slide">
                                                                <img width="1200" height="800" alt="Paper" src="/assets/images/portfolio/single/paper-1-min.jpg">                                                                
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img width="1200" height="800" alt="Catalogue" src="/assets/images/portfolio/single/catalogue-2-min.jpg">                                                                
                                                            </div>
                                                            -->                                                      
                                                        </div>	
                                                        <div class="swiper-pagination"></div>	  
                                                    </div>	    
                                                </div>
                                                {% endif %}                 
                                            </div><!-- .entry-content -->

                                            <header class="entry-header">	
                                                <h2 class="entry-title">{{page.title}}</h2>
                                                <div class="description">{{ page.date | date: "%b %Y" }}</div>
                                                <div class="entry-meta">
                                                    <div class="meta-desc">
                                                        <p>{{ page.description }} {{ content }}</p>
                                                    </div>   
                                                    <div class="meta-entries">
                                                        <ul>
                                                            <li><span>Role</span>{{ page.role }}</li>
                                                            <li><span>Client</span>{{ page.client | join: '/'}}</li>
                                                            <li><span>Credits</span>
                                                                {% for item in page.credits %}
                                                                {% for hash in item %}
                                                                    {{ hash[0] }}: {{ hash[1] }}<br/>
                                                                {% endfor %}
                                                                {% endfor %}
                                                            </li>
                                                            {% if page.tech %}
                                                            <li><span>Tech</span>{{ page.tech | join: ', '}}</li>
                                                            {% endif %}
                                                            {% if page.links %}
                                                            <li><span>Links</span>{{ page.links | join: '<br />'}}</li>
                                                            {% endif %}
                                                            <!--
                                                            <li class="portfolio-social-share-links">
                                                                <span>Share</span>
                                                                <a href="#" title="Share portfolio on Facebook">
                                                                    <i class="fab fa-facebook-f"></i>
                                                                </a>
                                                                <a href="#" title="Share portfolio on Pinterest">
                                                                    <i class="fab fa-pinterest-p"></i>
                                                                </a>
                                                                <a href="#" title="Share portfolio on Xing">
                                                                    <i class="fab fa-xing"></i>
                                                                </a>
                                                            </li>
                                                            -->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </header><!-- .entry-header -->		
                                        </article>

                                        <div class="portfolio-navigation-wrap">
                                            <ul class="portfolio-navigation">
                                                
                                                <li class="portfolio-prev">
                                                    {% if page.previous.url %}
                                                    <a href="{{page.previous.url}}" rel="prev">                                                        
                                                        <span>{{page.previous.title}}</span>
                                                    </a>
                                                    {% endif %}
                                                </li>
                                                
                                                <li>
                                                    <a href="/">                                                        
                                                        <img src="/assets/images/svg/grid.svg" alt="All Portfolio">
                                                    </a>
                                                </li>
                                                
                                                <li class="portfolio-next">
                                                    {% if page.next.url %}
                                                    <a href="{{page.next.url}}" rel="next">                                        
                                                        <span>{{page.next.title}}</span>
                                                    </a>
                                                    {% endif %}
                                                </li>
                                               
                                            </ul>
                                        </div>      

                                        <div class="related-portfolio-post">
                                            <h3>Related Works</h3>
                                            <div class="portfolio-wrap">
                                                <div id="portfolio-container-grid" class="cbp" data-layoutmode="grid" data-gapvertical="30" data-gaphorizontal="30" data-displaytype="default" data-large-desktop="3" data-tablet-landscape="3" data-tablet-portrait="3" data-mobile="1">

                                                    <div class="cbp-item  art illustration">
                                                        <a class="cbp-caption" href="portfolio-single-multiple-media.html">
                                                            <div class="cbp-caption">
                                                                <div class="cbp-caption-defaultWrap">
                                                                    <img src="/assets/images/portfolio/single/pillow-min.jpg" class="portfolio-thumbnail" alt="Cusion Mockup" >
                                                                </div>
                                                            </div>
                                                            <div class="cbp-l-grid-agency-title alignCenter">Cusion Mockup</div>
                                                            <div class="cbp-l-grid-agency-desc alignCenter">Photoshop</div>
                                                        </a>                                                                        
                                                    </div>
                                                    
                                                    <div class="cbp-item  logo">
                                                        <a class="cbp-caption" href="portfolio-single-small-videos.html">
                                                            <div class="cbp-caption">
                                                                <div class="cbp-caption-defaultWrap">
                                                                    <img src="/assets/images/portfolio/single/business-card-min.jpg" class="portfolio-thumbnail" alt="Business Card" >
                                                                </div>
                                                            </div>
                                                            <div class="cbp-l-grid-agency-title alignCenter">Business Card</div>
                                                            <div class="cbp-l-grid-agency-desc alignCenter">Branding</div>
                                                        </a>                                                                        
                                                    </div>
                                                    
                                                    <div class="cbp-item  branding">
                                                        <a class="cbp-caption" href="portfolio-single-small-slider.html">
                                                            <div class="cbp-caption">
                                                                <div class="cbp-caption-defaultWrap">
                                                                    <img src="/assets/images/portfolio/single/headphone-min.jpg" class="portfolio-thumbnail" alt="Pink Headphone" >
                                                                </div>
                                                            </div>
                                                            <div class="cbp-l-grid-agency-title alignCenter">Pink Headphone</div>
                                                            <div class="cbp-l-grid-agency-desc alignCenter">Gadget</div>
                                                        </a>                                                                        
                                                    </div>                                                                

                                                </div>                                                    
                                            </div>
                                        </div>
                                    </div>                                 
                                </div>                             
                            </div>                             
                        </main><!-- #main -->
                    </div><!-- #primary -->                   

                    <a id="gotoTop" href="#" class="scroll-top-link" data-easing="easeOutQuad" data-speed="700" ><i class="fa fa-angle-up"></i></a>

                </div><!-- #content -->

                {% include footer.html %}
                
            </div> <!-- .site-content-contain -->        

        </div>    
        <!-- Page Wrapper Ends -->

        {% include scripts.html %}

    </body>
</html>
