{% include header.html %}

<!-- Main Wrapper -->
<div id="main-wrapper">
        <div class="project-single margin-top-100 margin-top-50-xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="project-video margin-bottom-30 embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{page.video_player}}?title=1&byline=0&portrait=0"  height="500" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="project-title">
                            <h1>{{page.title}}</h1>
                        </div>
                        <div class="project-desc">
                            {{ description }}
                        </div>
                        <ul class="project-meta margin-top-20 margin-bottom-20">
                            <li><span>Role</span>{{ page.role }}</li>
                            <li><span>Client</span>{{ page.client | join: '/'}}</li>
                            <li><span>Credits</span>
                                {% for item in page.credits %}
                                {% for hash in item %}
                                    {{ hash[0] }}: {{ hash[1] }}<br/>
                                {% endfor %}
                            {% endfor %}
                            </li>
                            <li><span>Date</span> {{ page.date | date: "%b %Y" }}</li>

                            {% if page.links %}
                            <li><span>Links</span>
                                <ul>
                                {% for item in page.links %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            </li>

                            {% if page.links %}
                            <li><span>Tech</span>
                                <ul>
                                {% for item in page.tech %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                        </ul>
                        <!--
                        <div class="button solid margin-bottom-30">
                            <a href="#">View Project</a>
                        </div>
                        -->
                    </div>
                    <div class="col-sm-12 margin-top-20">
                    
                        <div id="portfolio-container" class="cbp" data-layoutmode="grid" data-gaphorizontal="30" data-gapvertical="30" >
                            {% for img in page.images %}
                            <div class="cbp-item">
                                <div class="cbp-item-wrapper">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{{ page.image_root }}/{{ img }}" alt="">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>    
    <!-- Main Wrapper Ends -->

{% include footer.html %}